.section-title{
    animation: fadeInDown 0.75s ease 0.5s;
    font-family: 'PT Sans', sans-serif;
    color: #070707;
    margin: auto;
    margin-bottom: 30px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.product-actions{
    position: absolute;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.35s ease;
}
.product-item:hover .product-img .product-actions {
    left: 0;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-button-next, .swiper-button-prev  {
    padding: 0px !important;
    margin: 0px !important;
    width: 40px !important;
    height: 40px !important;
    /* line-height: 40px; */
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff !important;
    border-radius: 0px !important;
}




.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 12px !important;
    font-weight: bold !important;
    color: white !important;
}

.swiper-button-prev::after {
    content: 'prev' !important;

}


.swiper-button-next:hover, .swiper-button-prev:hover{
    background: #070707 !important;
}